<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ERROR</title>
    <style media="screen">
      a {
        font-size: 104px;
      }
    </style>
  </head>
  <body>
    <a href="/">Come back to home page. Click on me!</a>
    <h1>There was an error!</h1>

    <p>Error: </p>
    <%= data %>
  </body>
</html>
