<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ERROR</title>
  </head>
  <body>
    <h1>There was an error!</h1>

    <p>Error: </p>
    <%= data %>
  </body>
</html>
