<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Log In</title>
    <link rel="icon" href="/assets/icon.ico">
  </head>
  <body>
    <h1>Log In</h1>
    <form action="/login/enter" method="post">
      <input type="text" name="name" placeholder="Username" minlength="3">
      <input type="password" name="password" placeholder="Password" minlength="5">
      <input type="submit" value="Enter">
    </form>
    <form action="/register" method="post">
      <input type="submit" value="Don't have an account?">
    </form>
  </body>
</html>
