<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register</title>
    <link rel="icon" href="/assets/icon.ico">
  </head>
  <body>
    <h1>Register</h1>
    <form action="/register/signup" method="post">
      <input type="text" name="user" placeholder="Username" minlength="3" maxlength="16">
      <input type="email" name="email" placeholder="example@email.com">
      <input type="password" name="password" placeholder="Password" minlength="5">
      <input type="submit" value="Create">
    </form>
    <form action="/login" method="post">
      <input type="submit" value="Already have an account?">
    </form>
  </body>
</html>
