<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register</title>
    <link rel="icon" href="/assets/icon.ico">
  </head>
  <body>
    <h1>Register</h1>
    <form action="/login/signup" method="post">
      <input type="text" name="user" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <input type="submit" value="Enter">
    </form>
    <form action="/login" method="post">
      <input type="submit" value="Already have an account?">
    </form>
  </body>
</html>
