/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*


Popup style
from: https://www.w3schools.com/howto/howto_js_popup.asp

*/

/* Popup container */
.popup {
  position: absolute;
  font-size: 60px;
  bottom: 15%;
  left: 25%;
  width: 64%;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  font-family: fantasy;
  visibility: hidden;
  width: 100%;
  background-color: #f6f7a3;
  color: black;
  text-align: center;
  border-radius: 20px;
  padding: 12px 9px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  margin-left: -80px;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/*


Slide Show style

font: https://www.w3schools.com/howto/howto_js_slideshow.asp

*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: 45px 0px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 24px;
  font-family: cursive;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dotsDiv {
  text-align: center;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*


Proper Style


*/

body {
  background-color: whitesmoke; /* Less bright white, to not hurt people's eyes */
}

.wrapper {
  background-color: cornflowerblue;
  color: white;
  position: absolute;
  left: 0%;
  width: 100%;
  min-height: 100%;
  padding: 5% 8%;
  -webkit-box-shadow: 5px 6px 12px -6px #000000;
  box-shadow: 5px 6px 12px -6px #000000;
}

#title {
  font-family: 'Impact';
  font-size: 104px;
  text-align: center;
  text-shadow: 6px 5px 9px rgba(0,0,0,0.75);
  cursor: pointer;
}

.data h2 {
  font-size: 60px;
}

.slides img { /* Centering an image */
  display: block;
  margin: 0 auto;
  height: 500px;
}

.login {
  text-align: center;
}

.login label {
  font-size: 52px;
}

.login .txt {
  width: 100%;
  font-size: 38px;
  background-color: white;
  font-family: cursive;
  margin: 12px 0;
  padding: 8px 16px;
}

.login #submit {
  font-size: 64px;
  cursor: pointer;
  text-align: center;
  padding: 30px 60px;
  margin: 18px 0;
  border-radius: 40px;
  border: 0;
  background-color: pink;
  color: white;
}

.dont {
  text-align: right;
}

.dont input {
  font-size: 42px;
  cursor: pointer;
  margin: 18px 0;
  border: 0;
  border-radius: 20px;
  background-color: lightcyan;
  color: black;
  padding: 10px 20px;
}

/*


Responsive part


*/

@media only screen and (min-width:768px) { /* Tablet */
	h1 {
    font-size: 150px;
  }
}

@media only screen and (min-width:1000px) { /* PC */
  .wrapper {
    left: 10%;
    width: 74%;
    padding: 1% 3%;
  }
  #title {
    font-size: 84px;
  }
  .data {
    position: absolute;
    top: 25%;
    right: 2%;
    width: 46%;
  }
  .data h2 {
    font-size: 32px
  }
  .login label {
    font-size: 24px;
  }

  .login .txt {
    width: 90%;
    font-size: 18px;
    padding: 4px 8px;
  }

  .login #submit {
    font-size: 24px;
    padding: 15px 30px;
    margin: 18px 0;
  }
  .dont input {
    font-size: 20px;
    margin: 22px 0;
    padding: 5px 10px;
  }

  /* Slideshow styles */
  .slideshow-container {
    max-width: 50%;
    margin-top: 10%;
  }
  .slides img {
    height: 250px;
  }
  .numbertext {
    color: #f2f2f2;
    font-size: 18px;
    font-family: cursive;
    padding: 4px 6px;
  }
  .dotsDiv {
    width: 50%;
  }

  /* Popup part */
  .popup {
    font-size: 32px;
    bottom: 15%;
    left: 34%;
    width: 32%;
  }
  .popup .popuptext {
    margin-left: 0px;
  }
}


/*        DARK PART              */

body {
  background-color: black;
}
.wrapper {
  background-color: midnightblue;
  -webkit-box-shadow: 5px 6px 12px -6px white;
  box-shadow: 5px 6px 12px -6px white;
}
.login #submit {
  background-color: darkgreen;
  color: white;
}
